In [2]:
import numpy as np

In [3]:
import pandas as pd

# Intro to Pandas

# Series

# Creating Series

In [9]:
label = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([1, 2, 3])
d = {'a': 10, 'b': 20, 'c': 30}

In [11]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [12]:
pd.Series(data = my_list, index = label)

a    10
b    20
c    30
dtype: int64

In [14]:
pd.Series(my_list,label)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(arr)

0    1
1    2
2    3
dtype: int32

In [16]:
pd.Series(arr, label)

a    1
b    2
c    3
dtype: int32

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

# Data and Series

In [19]:
pd.Series(label)

0    a
1    b
2    c
dtype: object

In [20]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

# Using an Index

In [35]:
ser1 = pd.Series([1, 2, 3, 4], index = 'USA Germany Kazakhstan Japan'.split())

ValueError: Length of values (5) does not match length of index (4)

In [23]:
ser1

USA           1
Germany       2
Kazakhstan    3
Japan         4
dtype: int64

In [28]:
ser2 = pd.Series([1, 2, 5, 4], index = 'USA Germany Italy Japan'.split())

In [27]:
ser2

USA           1
Germany       2
Kazakhstan    5
Japan         4
dtype: int64

In [30]:
ser1['USA']

1

In [34]:
ser1 + ser2

Germany       4.0
Italy         NaN
Japan         8.0
Kazakhstan    NaN
L             NaN
USA           2.0
dtype: float64